    <md-sidenav-layout fullscreen>
      <sidebar #sidenav mode="push" [open]="showSidenav$ | async" (onCloseMenu)="closeSidenav()" >
        <nav-group class="nav-group--top">
          <nav-item (onNavigate)="closeSidenav()" route="/home" icon="home">Home</nav-item>
          <nav-item (onNavigate)="closeSidenav()" route="/not-found" icon="visibility_off">Not Found</nav-item>
          <nav-item (onNavigate)="closeSidenav()" route="/protected" icon="lock">Protected</nav-item>
        </nav-group>

        <nav-group title="auth">
          <nav-item (onNavigate)="closeSidenav()" route="/login" icon="input">Login</nav-item>
        </nav-group>
      </sidebar>
      <toolbar (onOpenMenu)="toogleSidenav(sidenav.open)"></toolbar>
      <router-outlet></router-outlet>
    </md-sidenav-layout>
