    <md-sidenav-layout fullscreen>
      <sidebar mode="side" [open]="showSidenav$ | async" (onCloseMenu)="closeSidenav()" >
        <a md-list-item (click)="closeSidenav()" routerLink="/home" routerLinkActive="active">Home</a>
        <a md-list-item (click)="closeSidenav()" routerLink="/login" routerLinkActive="active">Login</a>
        <a md-list-item (click)="closeSidenav()" routerLink="/not-found" routerLinkActive="active">Not-Found</a>
        <a md-list-item (click)="closeSidenav()" routerLink="/protected" routerLinkActive="active">Protected</a>
      </sidebar>
      <toolbar (onOpenMenu)="openSidenav()"></toolbar>
      <router-outlet></router-outlet>
    </md-sidenav-layout>
