@import '~@angular/material/core/theming/theming';
@import '../../../app-theme.scss';

:host {
  display: flex;
  flex-direction: column;
}

.login__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px;
}

:host /deep/ p {
  color: rgba(0,0,0, 0.54);
  font-weight: 300;
  font-size: 14px;
}

:host /deep/ a {
  color: md-color($primary);
}

md-card {
  padding: 60px 80px 100px;
}

:host /deep/ split-card-right {
  position: relative;
  box-sizing: border-box;
  padding: 80px 50px;
  width: 400px;
}

auth-error {
  padding: 20px;
  left: 0;
  width: 100%;
  position: absolute;
  top: 0;
}
