:host {
  margin-right: -16px;
  margin-left: -16px;
}

:host /deep/ {
  [md-tab-link] {
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
    min-width: 90px;
    line-height: 24px;
    height: 32px;
  }
  .active {
    opacity: 1;
  }
}
