:host {
  position: absolute;
  right: 0px;
  top: 10px;
  margin: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  opacity: 1;
  visibility: visible;
  color: rgba(0, 0, 0, 0.87);
}

.nav-item-menu__button {
  margin-right: 4px;
  margin-left: 4px;
  height: 36px;
  align-items: center;
  width: 36px;

  transition: box-shadow .4s cubic-bezier(0.25,0.8,0.25,1),background-color .4s cubic-bezier(0.25,0.8,0.25,1);

  &:hover {
    .nav-item-menu__icon {
      position: relative;
      transform: translateX(-4px) rotate(-20deg);
      transition: transform .15s ease;
    }

    &::after {
      font-family: 'Material Icons';
      color: rgba(0,0,0,0.54)!important;
      content: 'play_arrow';
      position: absolute;
      transition: transform .15s ease-in,opacity .075s ease,-webkit-transform .15s ease-in;
      transform: translateX(0) rotate(0);
      padding-top: 6px;
      padding-left: 22px;
    }
  }
}

.nav-item-menu__icon {
  color: rgba(0,0,0,0.54)!important;
  position: relative;
  height: 1em;
  font-size: 20px;
  width: 1em;
  line-height: 1;

  transition: transform .15s ease;
}

:host-context(.sidenav--collapsed)  {
  position: relative;
  top: 0;

  .nav-item-menu__button {
    width: 100%;
    padding: 0 16px;
    margin: 0;

    &:hover::after {
      border-radius: 0;
    }
  }
}
