:host {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  width: 600px;
}

.actions-list__actions-wrapper {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  align-content: flex-start;
  justify-content: space-around;
}


:host(.compressed) .actions-list__actions-wrapper {
  justify-content: flex-start;

  /deep/ {
    [md-button], [md-raise-button], [md-fab], [md-mini-fab] {
      margin-right: 16px;
    }
  }
}

.actions-list__footer {
  margin-top: 8px;
  color: rgba(0,0,0,0.54);
  font-size: 13px;
  line-height: 20px;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}
