:host {
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-weight: 400;
  flex-shrink: 0;
  position: relative;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  box-shadow: none;
  padding: 4px 0;
}

:host(.nav-group--top) {
  margin-top: 12px;
}

:host(.nav-group--root) {
  background: #fafafa;
  box-shadow: 0 -1px 0 rgba(0,0,0,0.12) inset!important;
  position: relative;
  padding: 10px 0;
  transition: box-shadow .3s ease,padding .3s ease,width .3s cubic-bezier(0.4,0.0,0.2,1);
}

:host-context(.sidenav--collapsed)  {
  box-shadow: 0 -1px 0 rgba(0,0,0,0.12) inset!important;
  transition: box-shadow .3s ease,padding .3s ease,width .3s cubic-bezier(0.4,0.0,0.2,1);

  nav-group-header {
    display: none;
  }
}
