:host {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0;
  position: relative;
  margin: 96px auto;
  min-height: 144px;
}
:host(.hero-unit--with-image) {
    padding-left: 184px;
    width: 576px;
}

.hero-unit__wrapper {
  display: flex;
  width: 960px;
  margin: 96px auto;
}

.hero-unit__image-wrapper {
    width: 144px;
    height: 144px;
    position: absolute;
    left: 0;
    top: 0;
}

.hero-unit__copy {
  width: 384px;
  display: flex;
  flex-direction: column;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

.hero-unit__actions {
  width: 100%;
  flex: 1 1;
  margin: 40px 0 0 0;
}
