
@import '~@angular/material/core/theming/all-theme';

@include md-core();

$primary: md-palette($md-light-blue, 700, 600, 50);
$accent:  md-palette($md-deep-orange, A200, A100, A400);
$warn: md-palette($md-red);

$app-theme: md-light-theme($primary, $accent, $warn);

@include angular-material-theme($app-theme);

