:host {
    box-sizing: border-box;
}

:host(.nav-item--with-menu) {
    margin-right: 44px;
}

.nav-item__button {
    margin: 0;
    height: 32px;
    min-height: 36px;
    min-width: 0;
    overflow: visible;
    width: 100%;
    border-radius: 0;
    color: rgba(0,0,0,0.54);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 20px;
    text-align: start;
    text-decoration: none;
    text-transform: none;
    padding: 6px 24px;
}

.nav-item--active__button {
  color: #03a9f4;
}

.nav-item{
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
}

.nav-item__text {
    padding-left: 16px;
    opacity: 1;
    transition: opacity .3s ease;
}

.nav-item__icon {
  font-size: 20px;
  height: 1em;
  width: 1em;
}

:host-context(.sidenav--collapsed)  {
  .nav-item__text {
    opacity: 0;
    transition: opacity .3s ease;
    display: none;
  }

  .nav-item__button {
    display: flex;
    justify-content: center;
  }
}

:host-context(.sidenav--collapsed) :host(.nav-item--with-menu) {
  margin-right: 0;
}
:host-context(.sidenav--collapsed) {
  margin-right: 0;
}
