<form>
  <md-input #email="ngModel" [(ngModel)]="credential.email" id="email" name="email" placeholder="Your email address" required>
    <span md-suffix *ngIf="email.valid && email.touched">
          <md-icon class="valid">done</md-icon>
        </span>
  </md-input>
  <md-input #password="ngModel" [(ngModel)]="credential.password" id="password" name="password" type="password" placeholder="Your password"
    required>
    <span md-suffix *ngIf="password.valid && password.touched">
        <md-icon class="valid">done</md-icon>
      </span>
  </md-input>
  <button md-raised-button color="primary" (click)="login(email.value, password.value)">{{ action }}</button>
</form>
