:host {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
}

md-input {
  margin: 20px 0;
  font-weight: 300;
}

button {
  margin: 10px 0;
  font-weight: 300;
}

md-icon {
  position: absolute;
  top: 6px;
  right: 20px;
}

.valid {
  color: green;
}
